{
  "extension": [".ts", ".tsx"],
  "include": ["src/**/*.ts"],
  "exclude": ["**/*.d.ts"],
  "reporter": ["json", "lcov"],
  "require": ["ts-node/register"],
  "source-map": true,
  "instrument": true,
  "all": true
}
